:root {
  /* Colors */
  --light-orange: 24deg 56% 63%;
  --black: 0deg 0% 8%;
  --dark-gray: 0deg 0% 27%;
  --white: 0deg 0% 100%;

  /* Color Intentions */
  --clr-accent: hsl(var(--light-orange));
  --clr-dark-100: hsl(var(--black));
  --clr-dark-200: hsl(var(--dark-gray));
  --clr-white: hsl(var(--white));

  /* Fonts */
  --ff-display: "Big Shoulders Display", cursive;
  --ff-body: "Outfit", sans-serif;

  --fs-100: 1rem; /* 16px */
  --fs-200: 1.125rem; /* 18px */
  --fs-300: 1.25rem; /* 20px */
  --fs-400: 1.375rem; /* 22px */
  --fs-575: 2rem; /* 32px */
  --fs-600: 2.25rem; /* 36px */
  --fs-650: 3.125rem; /* 50px */
  --fs-675: 3.4375rem; /* 55px */
  --fs-700: 3.75rem; /* 60px */
  --fs-800: 4.375rem; /* 70px */
  --fs-900: 6rem; /* 96px */

  --lh-500: 1.75rem; /* 28px */
  --lh-640: 2.8125rem; /* 45px */
  --lh-660: 3.4375rem; /* 55px */
}

/* Fonts */
.ff-display {
  font-family: var(--ff-display);
  font-weight: 900;
}

.ff-body {
  font-family: var(--ff-body);
  font-weight: 300;
}

.fc-body-sm {
  color: var(--clr-dark-100);
}

.fc-dark-100 {
  color: var(--clr-dark-100);
}

.fc-light-900 {
  color: var(--clr-white);
}

.fc-body-md {
  color: var(--clr-dark-200);
}

.fc-title {
  color: var(--clr-dark-100);
}

.fc-accent {
  color: var(--clr-accent);
}

.fs-body-sm {
  font-size: var(--fs-200);
  line-height: var(--lh-500);
}

.fs-body-md {
  font-size: var(--fs-200);
  line-height: var(--lh-500);
}

.fs-title-xs {
  font-size: var(--fs-300);
  line-height: var(--fs-300);
  text-transform: uppercase;
}

.fs-title-sm {
  font-size: var(--fs-575);
  line-height: var(--fs-575);
  text-transform: uppercase;
}

.fs-title-md {
  font-size: var(--fs-650);
  line-height: var(--lh-640);
  text-transform: uppercase;
}

.fs-title-lg {
  font-size: var(--fs-650);
  line-height: var(--lh-640);
  text-transform: uppercase;
}

.fs-title-xl {
  font-size: var(--fs-700);
  line-height: var(--lh-660);
  text-transform: uppercase;
}

.fs-button {
  font-weight: 800;
  font-size: var(--fs-300);
  line-height: 1.5rem;
  letter-spacing: 0.2272725rem; /* 3.63636px */
}

/* background colors */

.bg-accent {
  background-color: var(--clr-accent);
}

.bg-dark-100 {
  background-color: var(--clr-dark-100);
  color: var(--clr-white);
}

.bg-btn-hover:hover {
  background-color: var(--clr-accent);
}
/* buttons */
.btn {
  text-decoration: none;
  color: var(--clr-white);
  width: 260px;
  display: flex;
  align-items: stretch;
}

.btn__text {
  display: flex;
  align-items: center;
  background-color: var(--clr-dark-100);
  padding-block: 1.5rem;
  padding-inline: 2rem;
  text-transform: uppercase;
  font-size: var(--fs-300);
  letter-spacing: 0.1rem;
}

.btn__icon-container {
  background-color: var(--clr-accent);
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* layout */
.page-padding {
  padding-inline: 1rem;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
  gap: 1.25rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.py-3 {
  padding-block: 3rem;
}

/* gallery section */
.gallery-section {
  padding-block: 7.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gallery-section__title-card {
  padding-block-start: 1.5rem;
  padding-block-end: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.gallery-section__text-card {
  padding-inline: 1.5rem;
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.gallery-section img:first-of-type {
  order: -1;
}

:where(.gallery-section img) {
  width: 100%;
}

/* Components */
.footer {
  padding-inline: 2rem;
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2.375rem;
}

:where(.footer p) {
  font-size: var(--fs-100);
}

.hero-image {
  order: -1;
}

/* tablet media query */
@media screen and (min-width: 480px) {
  .fs-title-xl {
    font-size: var(--fs-900);
  }

  .fs-title-lg {
    font-size: var(--fs-675);
    line-height: var(--fs-650);
    text-transform: uppercase;
  }

  .fs-body-md {
    font-size: var(--fs-400);
  }

  .hero-image {
    order: 0;
  }
}

@media screen and (min-width: 768px) {
  .fs-title-lg {
    font-size: var(--fs-800);
    line-height: var(--fs-800);
    text-transform: uppercase;
  }

  .fs-title-md {
    font-size: var(--fs-700);
    font-size: var(--fs-700);
  }

  .fs-title-sm {
    font-size: var(--fs-600);
    line-height: var(--fs-600);
    text-transform: uppercase;
  }
}
